body {
   background: url(brick.jpg);
   width: 800px;
   background-clip: content-box;
   background-size: cover;
   margin: auto;
}

.button {
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   background-image: url(brickbutton.png);
   background-size: cover;
   width : 100px;
   height: 50px;
   
   text-align: center;
   line-height: 50px;
   vertical-align: middle;
}
.button:hover{
   background-image: url(garlic.png);
}