
/* Applies to all h1 tags */
h1 {
   background-color : blueviolet;
}
/* applies to all h2 */
h2 {
   background-color : green;
}

/* Applies to all elents with class special */
.special{
   color : blue;
}

#para{
   color :red;
   background-color: orange;

}