.lists_heading {
   color: greenyellow;
}

#special {
   background-color: burlywood;
}

.selected {
   background-color: lightcoral;
}

.different {
   background-color: lightsalmon;
   color : goldenrod;
}

li {
   background-color: hotpink;
   color: purple;
}