/*Main Layout */
.grid_container {
   display: grid;
   grid-template-columns: 8em 1fr;
   grid-template-rows: auto auto auto;
}

/*title area*/
.grid_container> :nth-child(1) {
   grid-column-start: span 2;
}

/* horizontal nav */
.grid_container> :nth-child(2) {
   grid-column-start: span 2;
}

/*We don't need these because the defautl formating is for a element to take up 1 grid spacing
 but I've included them here for completeness */
/* vertical nav */
.grid_container> :nth-child(3) {
   /* intentionally blank */
}

/* main nav */
.grid_container> :nth-child(4) {
   /* intentionally blank */
}
