/*Main Layout */
.grid_container{
   display: grid;
   grid-template-columns: 8em 1fr;
   grid-template-rows: auto auto auto;
}

.grid_container > .heading {
   grid-column-start: span 2;

}

.grid_container > .horizontal_nav{
   grid-column-start: span 2;
   
}

/*We don't need these because the default formating is for a element to take up 1 grid spacing
 but I've included them here for completeness */
.grid_container > .vertical_nav{
   /* intentional blank */
} 
.grid_container > .main_area{

}

  