.container {
   display : grid;
   grid-template-columns: 10em 1fr;
}
.container > .heading{
   grid-column-start: span 2;
}

.poems{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}