body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
  background-color: cadetblue;
}
.nav {
    background-color: cadetblue;
}
.nav > a{
   background-color: darkblue;
   color : white;
   font-size: 90%;
}

.site_map{
   margin-left: 5px;
}
.site_map > a {
    display: block;
    padding-top: 5pt;
    
}

