.example{
   width : 200px;
   height: 200px;
   margin-bottom: 20px;
 
}
/*Basic border example */
.border1{
   border : solid orange 2px;
}

.border2{
   border : dotted green 2px;
   border-radius: 10px;
}
.border3{
   border : double green 6px;
   border-top-left-radius: 50px;
   border-top-right-radius: 100px;
   /*these more specific style will override the border style above
      so I don't need to specify left, right, and bottom seperately */
   border-top-style: dashed;
   border-top-width: 1px;
   border-top-color: red;

}

.border4{
  /* need to specify border, style doesn't matter */
  border: 10px solid;
  border-image: url(border.png) 20 stretch;
  /* radius does not work with images */
  border-top-left-radius: 20px;
   
}