.example{
   display: inline-block;
   width: 200px;
   height: 200px;
   border: solid 1px black;
   margin-right: 20px;
}

.border1{
   border-top-left-radius : 30px;
   border-top-right-radius : 30px;
   border : ridge 5px red;
}

.border2{
   border-top-left-radius : 30px;
   border-bottom-right-radius : 30px;
   border : solid 5px lightslategray;
}
.inner1 {
   border : solid 5px green;
   border-top-left-radius : 30px;
   border-bottom-right-radius : 30px;
   height : 155px;
   margin-left : 20px;
   margin-right : 20px;
   margin-top: 20px;
}
.border3{
   border-top-left-radius : 30px;
   border-bottom-right-radius : 30px;
   border : solid 5px lightslategray;
   background: linear-gradient(lightsalmon, purple);
}
.inner2 {
   border : dotted 5px green;
   border-top-left-radius : 30px;
   border-bottom-right-radius : 30px;
   height : 155px;
   margin-left : 20px;
   margin-right : 20px;
   margin-top: 20px;
   background: white;

}

.border4{
   border-top-left-radius : 30px;
   border-top-right-radius : -15px;
   border-bottom: solid 5px maroon;
   border-left: double 10px red;
   border-right: inset 5px yellow;
   border-top: unset;
   background:radial-gradient(rgba(0,0,255, 1),rgba(255,0,0, 0))
}
.border5{
   border-radius: 100px;
   background:radial-gradient(rgba(0,0,255, 0),rgba(255,0,0, 1))
}

